Source: zh-autoconvert
Build-Depends: debhelper (>= 9), hardening-wrapper
Priority: optional
Section: text
Maintainer: Tong Sun <suntong001@users.sourceforge.net>
Standards-Version: 3.9.6
Homepage: https://github.com/suntong001/zh-autoconvert
Vcs-Git: https://github.com/suntong001/zh-autoconvert.git
Vcs-Browser: https://github.com/suntong001/zh-autoconvert

Package: zh-autoconvert
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Chinese HZ/GB/BIG5/UNI/UTF7/UTF8 encodings auto-converter
 AutoConvert is an intelligent Chinese Encoding converter. It uses
 builtin functions to judge the type of the input file's Chinese
 Encoding (such as GB/Big5/HZ), then converts the input file to any
 type of Chinese Encoding you want. You can use autoconvert to handle
 incoming mail, automatically converting messages to the Chinese
 Encoding you want. 
 It can alse handle Unicode/UTF7/UTF8 now.
