Source: zh-autoconvert
Build-Depends: debhelper (>= 9), libgtk2.0-dev
Priority: optional
Section: text
Homepage: https://code.google.com/p/libhz/
Maintainer: Tong Sun <suntong001@users.sourceforge.net>
Standards-Version: 3.9.6

Package: zh-autoconvert
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Chinese HZ/GB/BIG5/UNI/UTF7/UTF8 encodings auto-converter
 AutoConvert is an intelligent Chinese Encoding converter. It uses
 builtin functions to judge the type of the input file's Chinese
 Encoding (such as GB/Big5/HZ), then converts the input file to any
 type of Chinese Encoding you want. You can use autoconvert to handle
 incoming mail, automatically converting messages to the Chinese
 Encoding you want. 
 It can alse handle Unicode/UTF7/UTF8 now.
 .
  Author: Yu Guanghui <ygh@debian.org>

Package: libhz-dev
Architecture: any
Section: devel
Depends: ${misc:Depends}, libhz0 (= ${binary:Version}), libc6-dev
Description: Headers and static libraries for zh-autoconvert
 Contains the symlinks, headers, and object files needed to compile and
 link programs which use the zh-autoconvert library.
 .
  Author: Yu Guanghui <ygh@debian.org>

Package: libhz0
Architecture: any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Chinese encoding autoconvert library
 This library provide the Chinese encoding judge function, 
 and the HZ/GB/Big5/UNI/UTF7/UTF8 convert functions.
 .
  Author: Yu Guanghui <ygh@debian.org>
