#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Use hardening-wrapper - Compiler wrapper to enable security hardening flags
export DEB_BUILD_HARDENING=1

%:
	dh $@ 

override_dh_auto_install:
	mkdir -p debian/zh-autoconvert/usr/bin debian/zh-autoconvert/usr/lib debian/zh-autoconvert/usr/include debian/zh-autoconvert/usr/lib/zh-autoconvert
	dh_auto_install
